* {
  margin: 0
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}


.aboutMe-container {
  margin-top: 50px;
  margin-bottom: 20px;
}

.text-wrapper { 
  margin-left: 20px;
}


.avatarPic {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

Footer {
  margin-top: auto;
}